@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 

/* 全局样式 */
body {
    font-family: 'Arial', sans-serif; /* 设置全局字体为 Arial，备用字体为 sans-serif */
    background: linear-gradient(180deg, #e3f2fd, #fce4ec); /* 设置渐变背景颜色，从上到下过渡 */
    color: #333; /* 设置全局文字颜色为深灰色 */
    margin: 0; /* 清除页面默认的外边距 */
    display: flex; /* 使用 Flex 布局 */
    flex-direction: column; /* 子元素按列方向排列 */
    min-height: 100vh; /* 页面最小高度为视口高度 */
}

/* 头部样式 */
header {
    background: #ffccbc; /* 设置导航栏背景颜色为橙色 */
    color: #fff; /* 设置导航栏文字颜色为白色 */
    text-align: center;
    padding: 20px 0;
}

/* 主标题样式 */
header h1 {
    font-family: 'Pacifico', cursive; /* 标题使用手写风格字体 */
    margin: 0; /* 清除默认外边距 */
}

/* 图片样式 */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* 圆形图片 */
    object-fit: cover; /* 确保图片内容适应圆形容器 */
    display: block; /* 图片块级显示 */
    margin: 0 auto 20px; /* 图片居中，底部外边距为 20px */
    border: 5px solid #ffab91; /* 图片周围添加橙色边框 */
}

/* 按钮样式 */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* 调整按钮的上间距 */
}

.buttons .btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #ffab91;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* 页脚样式 */
footer {
    background: #ffccbc; /* 设置页脚背景颜色为橙色 */
    color: #fff; /* 设置页脚文字颜色为白色 */
    padding: 10px 0; /* 页脚上下内边距为 1rem */
    text-align: center; /* 页脚文字居中对齐 */
    margin-top: auto; /* 确保页脚始终固定在页面底部 */
}

/* intro 部分样式 */
.intro {
    margin-top: 40px; /* 设置顶部外边距为 40px */
    text-align: center; /* 确保文本居中 */
}

.intro h2 {
    font-size: 4rem; /* 主标题字体大小更大 */
    font-weight: 300; /* 设置为常规粗细 */
    font-family: 'Cascadia Code', sans-serif; /* 使用简约的英文字体 */
    line-height: 1.2; /* 设置行高稍紧凑 */
    margin-bottom: 1rem; /* 底部外边距为 1rem */
}

.intro h2::after {
    content: "Where Bubbles Meet Jam..."; /* 添加副标题 */
    display: block; /* 副标题换行显示 */
    font-size: 2.5rem; /* 副标题字体大小稍小 */
    font-weight: 300; /* 副标题字体较细 */
    margin-top: 1rem; /* 顶部外边距为 1rem */
    font-family: 'Cascadia Code', sans-serif; /* 副标题使用一致的字体 */
    color: #555; /* 副标题颜色稍暗 */
}
